.users-list{
    list-style: none;
    width: 600px;
    margin: 0 auto;
    padding: 0px;
    outline: 2px solid black;
}

.users-title{
    text-align: center;
}

.search-input{
    
    margin: 60px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.search-input > input {
    margin: 0 20px;
}


.users-item{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.users-item:nth-child(2n){
    background-color: grey;
    color: white;
}